img {
    width: 500px;
}

center {
    font-size: 30px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.travel_maniDiv{
    float: left;
    width: 33.33%;
    padding: 5px;
        border: 1px solid #c7c7c7
}
.travel_maniDiv img {
    width: 100%;
    height: 300px;
}
.travel_maniDiv hr {
    width: 100%;
}
.travel_maniDiv h5 , .travel_maniDiv p{
    margin-left: 20px;
}
#achievementsID{
    padding-bottom: 10px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i {
    float: right;
}
.movie_text span{
    color: #ff7700;
}
#footer{
    height: 20px;
    background-color: white;
}
